src/main/mule/sample-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5c0b0966-cab3-4582-88c2-756839f7a9d3" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sample-cicdFlow" doc:id="f3cf871b-88ee-4bfd-992d-ea72b4c67dd2" >
		<http:listener doc:name="Listener" doc:id="6e47541d-2623-40a7-968d-e577288276f6" config-ref="HTTP_Listener_config" path="/add"/>
		<ee:transform doc:name="Transform Message" doc:id="09060368-d3a6-4801-89a0-7b6e2d4c05eb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json	
---
{
	result : payload.a + payload.b
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="c" ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="8b2c7c44-1e87-40d3-a560-45ea56a562ef" message='"succesfully add fucntion executed"'/>
	</flow>
</mule>
